.forecast-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.forecast-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: black;
    color: white;
    padding: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    height:fit-content;
    min-width: 300px;
    position: relative;
    background-size: cover;
}

.forecast-card-title {
    font-size: 1.5rem;
    z-index: 999;
}

.hourly-forecast {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 30px;
    max-height: 200px; /* Adjust the max height as needed */
    overflow: auto; /* Enable vertical scroll */
}

.forecast-hour-container {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 20;
    text-align: left;
    justify-content: flex-start;
}

.forecast-hour-label {
    font-weight: bold;
}

.forecast-weather-icon {
    width: 50px;
    height: 50px;
    justify-content: start;
}

.forecast-weather-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:max-content;
    text-align: left;
}

.forecast-feels-like{
    font-size: 12px;
}

.forecast-dim{
    background-color: rgba(0, 0, 0, .21);
    position: absolute;
    width: 700px;
    height: 100%;
    z-index: 12;
    top: 0;
    left: 0;
}

@media (max-width: 350px)
{
    
}