.SearchBar{
    position: relative; /* Add relative positioning to the search bar */
    width: 200px;
    height:fit-content;
  }
  
  .search-box{
    background-color: white;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 10px;
    gap: 5px;
    border-radius: 10px;
  }
  
  .search-icon{
  
  }
  
  .search-field{
    background-color: transparent;
    border: none;
    height: 100%;
  }
  
  .search-field:focus{
    outline: none;
  }
  
  .search-results {
    position: absolute; /* Position results within search bar */
    top: 100%; /* Adjust based on padding/margin */
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(201, 201, 201);
    overflow: scroll;
    height: fit-content;
    max-height: 100px; /* Set maximum height */
  }
  
  .search-result{
    width: 100%;
    height: max-content;
    background-color: white;
    border-top: 1px solid rgb(201, 201, 201);
    padding: 5px;
    font-size: 18px;
    
  }